# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
.idea
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# And some random things
*.jar
*.class
*.classpath
*.project
*.settings
*.swp
gradlew*
